.nav {
    background-color: #4743432f;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    height: 3rem;
    top: 0;
    transition: 0.2s;
}

.links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width:800px) {
    .links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        padding: 0.4rem;
    }

    .nav > .nav-btn > label:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }
    
    .nav > #nav-check:not(:checked) + .nav-links {
        height: 0px;
    }
    
    .nav > #nav-check:checked + .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}